body,
p,
h1,
h2,
h3,
ul,
ol {
    margin: 0;
    padding: 0;
    cursor: default;
}

ul {
    list-style-type: none;
}

body,
button {
    font-family: 'Lora', serif;
    font-size: 16px;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}



/* SCROLLBAR */

/* firefox */
html,
body {
    scrollbar-color: #4d220f #C98A6A;
    scrollbar-width: thin;
}

/* webkit */

::-webkit-scrollbar {
    width: 15px;
    /* ширина для вертикального скролла */
    background-color: #c98a6a8c;
}

::-webkit-scrollbar-thumb {
    background-color: #4d220f;
    border-radius: 10px;
    -webkit-box-shadow: inset 0px 0px 5px #fff;
    box-shadow: inset 0px 0px 5px #fff;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #000;
}

::-webkit-scrollbar-button:vertical:start:decrement {
    background:
        linear-gradient(120deg, #C98A6A 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(240deg, #C98A6A 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(0deg, #C98A6A 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:vertical:end:increment {
    background:
        linear-gradient(300deg, #C98A6A 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(60deg, #C98A6A 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(180deg, #C98A6A 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}



/* HEADER */

.header {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    z-index: 10;
    max-width: 1200px;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

.header-fixed {
    background-color: rgba(0, 0, 0, .8);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    max-width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-fixed .header__logo-img {
    width: 50px;
}

.header-fixed .nav__link {
    margin-top: 0;
}

.nav__btn {
    display: none;
}

.nav__link {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    -webkit-transition: color .3s linear;
    -o-transition: color .3s linear;
    transition: color .3s linear;
}

.nav__link:hover,
.nav__link:target {
    color: #C98A6A;
}

.header__logo-img {
    width: 200px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 20px 0px #fff;
    box-shadow: 0px 0px 20px 0px #fff;
}



/* INTRO */

.intro {
    min-height: 100vh;
    z-index: 9;
}

.section {
    position: relative;
    padding: 100px 0;
    overflow: hidden;
    background-color: #000;
    -webkit-box-shadow: 0px 0px 20px 0px #000;
    box-shadow: 0px 0px 20px 0px #000;
}

.container {
    margin: 0 auto;
    padding: 15px;
    width: 100%;
    max-width: 1200px;
}

.intro__background {
    background: url(../images/intro-back.jpg);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .3;
    background-size: cover;
    background-position: center;
    -webkit-animation: scale 15s ease normal both infinite;
    animation: scale 15s ease normal both infinite;
}

@-webkit-keyframes scale {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.intro__box {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.intro__title {
    text-transform: uppercase;
    color: #fff;
    font-size: 4em;
}

.intro__subtitle {
    text-transform: uppercase;
    color: #C98A6A;
    font-size: 2em;
    margin-bottom: 50px;
}

.intro__address {
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 50px;
}

.intro__tel {
    padding: 15px;
    color: #c98a6a;
    border: 2px solid #c98a6a;
    background-color: rgba(201, 138, 106, .2);
    text-decoration: none;
    font-size: 2em;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.intro__tel:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, .2);
    border: 2px solid #fff;
}



/* ABOUT */

.about::before {
    content: "";
    background-image: url(../images/about-back.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: .15;
}

.about {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(225, 159, 126, .5)), to(#fff)), url(https://images.unsplash.com/photo-1519393890420-f28727375fa5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTE3fHxiYWNrJTIwZ3JvdW5kJTIwd29vZHxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60);
    background-image: -o-linear-gradient(top, rgba(225, 159, 126, .5), #fff), url(https://images.unsplash.com/photo-1519393890420-f28727375fa5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTE3fHxiYWNrJTIwZ3JvdW5kJTIwd29vZHxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60);
    background-image: linear-gradient(180deg, rgba(225, 159, 126, .5), #fff), url(https://images.unsplash.com/photo-1519393890420-f28727375fa5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTE3fHxiYWNrJTIwZ3JvdW5kJTIwd29vZHxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
    text-shadow: 1px 1px 3px #4d220f;
    position: relative;
    z-index: 1;
}

.section__title {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 70px;
    font-family: 'Merriweather', serif;
    width: 100%;
}

.about__text {
    font-size: 1.4em;
    text-align: justify;
}



/* NEWS */

.news {
    z-index: 8;
}

.news__title {
    color: #C98A6A;
    margin: 0;
}

.news__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.news__item {
    width: 30%;
}

.news__image {
    width: 100%;
    position: relative;
    top: 85px;
    border-radius: 10px 10px 0 0;
}

.news__info {
    position: relative;
    z-index: 2;
    padding: 10px;
    background: rgba(0, 0, 0, .8);
    border-bottom: 1px solid #fff;
}

.news__suptitle {
    color: #C98A6A;
    text-decoration: underline;
    margin-bottom: 10px;
}

.news__subtitle {
    color: #fff;
    margin-bottom: 15px;
}

.news__text {
    text-align: justify;
    color: #fff;
}



/* PRICE */

.price:before {
    content: "";
    background-image: url(../images/price-back.webp);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .3;
}

.price {
    background-color: #fff;
    z-index: 7;
}

.price-container {
    width: 100%;
    background-color: rgba(255, 255, 255, .8);
    padding-bottom: 100px;
}

.price__title {
    margin-top: 30px;
    color: #4d220f;
}

.price__list {
    width: 80%;
    margin: 0 auto;
    list-style-type: none;
}

.price__item-title {
    display: block;
    width: 100%;
    padding: 10px 30px 10px 10px;
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 2px;
    color: #4d220f;
    margin: 15px 0;
    position: relative;
    background-color: inherit;
    border: 2px solid #4d220f;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.price__item-title:after {
    content: "";
    display: block;
    position: absolute;
    background: url(../images/price-arrow.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    right: 10px;
    width: 30px;
    height: 100%;
    z-index: 8;
}

.price__item-title:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 10px 0px #4d220f;
    box-shadow: 0px 0px 10px 0px #4d220f;
}

.price__categories {
    height: 0;
    overflow: hidden;
    margin: 10px;
    -webkit-transition: height .3s linear;
    -o-transition: height .3s linear;
    transition: height .3s linear;
}

.price__category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
}

.category__title {
    max-width: 80%;
    color: #4d220f;
}

.dots {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background: -o-radial-gradient(circle closest-side, rgba(77, 34, 15, .25) 80%, #fff 10%);
    background: radial-gradient(circle closest-side, rgba(77, 34, 15, .25) 80%, #fff 10%);
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 4px 2px;
}

.category__price {
    -ms-flex-item-align: end;
    align-self: flex-end;
    font-weight: bold;
    color: #4d220f;
}

.category__info {
    margin: 5px 0 10px;
    width: 90%;
    font-size: 14px;
}

.accordion__item-active .price__item-title {
    color: #fff;
    background-color: #4d220f;
    border: 2px solid #4d220f;
}

.accordion__item-active .price__item-title::after {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.accordion__item-active .price__item-title:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}



/* MASTERS */

.masters {
    background-color: #ffffff;
    background-image: url("https://transparenttextures.com/patterns/brick-wall.png");
}

.masters__choise {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.barbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.barbers__item {
    margin-bottom: 20px;
    width: 32%;
    height: 400px;
    position: relative;
    border-radius: 15px;
}

.barbers__item:hover .barbers__background {
    opacity: 1;
}

.barbers__item:hover .barbers__btn {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

.barbers__background {
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
    border-radius: inherit;
}

.barbers__btn {
    width: 100%;
    text-align: center;
    padding: 15px;
    font-size: 1.3em;
    text-decoration: none;
    color: #C98A6A;
    border: 2px solid #C98A6A;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
    border-radius: 20px;
}

.barbers__btn:hover {
    color: #fff;
    border: 2px solid #fff;
}

.barbers__photo {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.barbers__name,
.barbers__rating {
    display: block;
    color: #fff;
    font-style: italic;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, .7);
}

.barbers__name {
    letter-spacing: 2px;
    top: 0;
    font-size: 1.5em;
    text-decoration: underline;
    border-radius: 15px 15px 0 0;
}

.barbers__rating {
    bottom: 0;
    font-size: 1.3em;
    border-radius: 0 0 15px 15px;
}

.rating svg {
    vertical-align: middle;
}

.rating .active {
    fill: gold;
}

.rating .not-active {
    fill: #fff;
}



/* FEEDBACK */

.feedback {
    background-color: #e2e2e2;
    padding: 50px 0;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.slider-container {
    overflow: hidden;
    margin-bottom: 20px;
}

.slider-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.slider-item {
    position: relative;
    padding: 15px;
    min-width: calc(33.33% - 20px);
    border: 2px solid #000;
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.comment {
    padding: 15px 0;
    min-height: 90px;
    font-style: italic;
}

.barber {
    font-weight: bold;
    margin: 15px 0;
    color: #C98A6A;
}

.user,
.date {
    display: inline-block;
    width: 49%;
    margin: 15px 0;
}

.date {
    text-align: right;
}

.control {
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #000;
    background-color: #fff;
    cursor: pointer;
}

.control:first-child {
    margin-right: 20px;
}

.control:disabled {
    opacity: .5;
}

.btn-prev img {
    -webkit-transform: rotate(90deg) translateY(2px);
    -ms-transform: rotate(90deg) translateY(2px);
    transform: rotate(90deg) translateY(2px);
    width: 30px;
}

.btn-next img {
    -webkit-transform: rotate(-90deg) translateY(2px);
    -ms-transform: rotate(-90deg) translateY(2px);
    transform: rotate(-90deg) translateY(2px);
    width: 30px;
}

.slider-buttons {
    text-align: center;
}



/* GALLERY */

.gallery {
    z-index: 6;
}

.gallery__title {
    color: #fff;
}

.gallery-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 20px;
}

.gallery__slide {
    position: relative;
    height: 60vh;
    margin: 10px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.gallery__slide:hover {
    cursor: pointer;
}

.gallery__slide.active {
    -webkit-box-flex: 10;
    -ms-flex: 10;
    flex: 10;
}

.gallery__text {
    text-align: center;
}

.gallery__link {
    display: inline-block;
    color: #fff;
    margin-top: 50px;
    font-size: 1.2em;
}



/* CONTACTS */

.contacts {
    background-color: #fff;
}

.contacts__title {
    margin: 20px 0;
}

.contacts-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.contacts__photo {
    width: 50%;
}

.contacts__photo img {
    width: 100%;
    border-radius: 10px;
}

.contacts__info {
    width: 50%;
    text-align: center;
    padding: 20px;
}

.contacts__item:not(:last-child) {
    margin-bottom: 30px;
}

.contacts__img {
    max-width: 30px;
}

.contacts__text {
    font-size: 1.2em;
}

.contacts__link {
    color: #000;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.contacts__link:hover {
    color: #C98A6A;
}



/* FOOTER */

.footer {
    padding: 20px;
    background-color: #000;
    color: #fff;
    text-align: center;
}



/* MEDIA */

@media (max-width: 1024px) {
    body {
        font-size: 14px;
    }

    .container {
        max-width: 900px;
    }

    .header {
        padding: 15px 50px;
    }

    .header-fixed {
        padding: 10px 50px;
    }

    .header__logo {
        z-index: 102;
    }

    .header__logo-img {
        width: 100px;
    }

    .news__image {
        top: 80px;
    }

    .news__info {
        height: 165px;
    }

    .barbers {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .barbers__item {
        width: 45%;
    }

    .barber,
    .user,
    .date {
        margin: 10px 0;
    }

    .control:first-child {
        margin-right: 40px;
    }

    .control {
        padding: 5px;
    }

    .gallery__slide {
        height: 50vh;
    }

    .header__nav {
        position: fixed;
        text-align: center;
        top: 0;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
        left: 0;
        width: 100%;
        opacity: 0;
        -webkit-transition: all 1s;
        -o-transition: all 1s;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        background-color: rgba(0, 0, 0, .9);
    }

    .nav__link {
        display: block;
        margin: 0 auto;
        width: 15%;
    }

    .header__nav-active {
        z-index: 100;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
        overflow-y: auto;
    }

    .nav__btn {
        display: block;
        background: url(../images/nav-open.png) center no-repeat;
        background-color: transparent;
        border: none;
        width: 40px;
        height: 40px;
        margin-top: 20px;
        z-index: 101;
        cursor: pointer;
    }

    .nav__btn-active {
        background: url(../images/nav-close.png) center no-repeat;
    }

    .header-fixed .nav__btn {
        margin: 0;
    }

    .nav__btn img {
        width: 100%;
    }

}

@media (max-width: 880px) {

    .news__list {
        display: block;
    }

    .news__item {
        width: 50%;
        margin: 0 auto;
    }

    .news__info {
        height: 145px;
    }

    .section {
        padding: 70px 0;
    }

    .gallery-container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 5px 1fr 5px 1fr;
        grid-template-columns: repeat(3, 1fr);
        -ms-grid-rows: 1fr 5px 1fr 5px 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 5px;
        padding: 0 5px;
    }

    .gallery-container>*:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .gallery-container>*:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .gallery-container>*:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
    }

    .gallery-container>*:nth-child(4) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .gallery-container>*:nth-child(5) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }

    .gallery-container>*:nth-child(6) {
        -ms-grid-row: 3;
        -ms-grid-column: 5;
    }

    .gallery-container>*:nth-child(7) {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }

    .gallery-container>*:nth-child(8) {
        -ms-grid-row: 5;
        -ms-grid-column: 3;
    }

    .gallery-container>*:nth-child(9) {
        -ms-grid-row: 5;
        -ms-grid-column: 5;
    }

    .gallery__slide {
        margin: 0;
    }

    .gallery__slide:last-child,
    .gallery__slide:nth-child(10) {
        display: none;
    }
}

@media (max-width: 768px) {
    .price__item-title {
        font-size: 1em;
    }

    .category__info {
        font-size: 11px;
    }

    .price__item-title {
        padding: 10px 50px 10px 10px;
    }

    .barbers {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .barbers__item {
        width: 55%;
    }

    .user,
    .date {
        width: 100%;
    }

    .barber,
    .user,
    .date {
        margin: 5px 0;
    }

    .date {
        text-align: left;
    }

    .slider-item {
        padding: 5px;
    }

    .gallery__slide {
        height: 250px;
    }
}

@media (max-width: 615px) {
    body {
        font-size: 12px;
    }

    .news__image {
        top: 70px;
    }

    .barbers__item {
        width: 80%;
        height: auto;
    }
}

@media (max-width: 475px) {
    .news__image {
        top: 40px;
    }

    .section {
        padding: 40px 0;
    }

    .section__title {
        margin-bottom: 40px;
    }

    .stars {
        display: none;
    }

    .gallery__slide {
        height: 200px;
    }

    .price-container {
        padding-bottom: 10px;
    }

    .section {
        padding: 30px 0;
    }

    .section__title {
        margin-bottom: 30px;
    }

    .container {
        padding: 10px;
    }

    .header__logo-img {
        width: 100px;
    }

    .news__title {
        margin: 0;
    }

    .contacts__item:not(:last-child) {
        margin-bottom: 10px;
    }

    .news__info {
        border: none;
    }
}

@media (max-width: 375px) {
    /* body {
        font-size: 10px;
    } */

    .news__item {
        width: 100%;
    }

    .price__list {
        width: 100%;
    }

    .price__category {
        margin-bottom: 5px;
    }

    .category__info {
        font-size: 10px;
    }

    .barbers__item {
        width: 100%;
    }

    .gallery-container {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .gallery__slide:nth-child(10) {
        display: block;
    }

    .contacts__info {
        width: 70%;
    }

    .contacts-container {
        display: block;
    }

    .contacts__photo {
        width: 100%;
    }

    .contacts__info {
        margin: 0 auto;
    }

    .header {
        padding: 15px 20px;
    }

}

@media (max-width: 320px) {
    .header__logo-img {
        width: 80px;
    }

    body {
        font-size: 11px;
    }

    .slider-item {
        margin: 0 5px;
        min-width: calc(33.33% - 10px);
    }
}

@media (max-width: 915px) and (orientation: landscape) {
    .header .header__logo {
        opacity: 0;
    }

    .header-fixed .header__logo {
        opacity: 1;
    }

    .header {
        padding: 5px 50px;
    }

    .header-fixed {
        padding: 5px 50px;
    }

    .header-fixed .header__logo-img {
        width: 40px;
    }
}